# IDE left over
.DS_Store
.vscode
.idea
*.pyc
*.cache
*.cache2
.*.swp
*.raw
.venv

# cache and misc
scanner/qiling.egg-info/
__pycache__/
*.py[cod]
build
dist

# test and logs
scaner/tests/mac_test_elf.sh
scaner/jexamples/
scaner/logs/
scaner/log/
scaner/test_qlog/
scaner/log_test/
scaner/qlog/
scaner/qlogs/
scanner/tests/output.txt
scanner/tests/testtest_*
test_syscall_*.txt
*.no.py
.gitkeep
test.file
*.file
*.qlog
*.d
*.o
core
*.perf

#rootfs
scanner/examples/rootfs/
*.dll

#node_modules
*node_modules
web/backend/node_modules
web/frontend/node_modules
web/backend/log_qiling.log
