{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>动态分析配置</title>
  <link rel="stylesheet" href="{%static 'plugins/bootstrap-5.3.3-dist/css/bootstrap.min.css'%}">
  <script src="{%static 'plugins/bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>

  <style>
    body {
      font-size: .875rem;
    }

    .feather {
      width: 16px;
      height: 16px;
    }

    /*
      * Sidebar
      */

    .sidebar {
      position: fixed;
      top: 0;
      /* rtl:raw:
      right: 0;
      */
      bottom: 0;
      /* rtl:remove */
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 48px 0 0;
      /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    @media (max-width: 767.98px) {
      .sidebar {
        top: 5rem;
      }
    }

    .sidebar-sticky {
      height: calc(100vh - 48px);
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #727272;
    }

    .sidebar .nav-link.active {
      color: #2470dc;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
    }

    /*
 * Navbar
 */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .navbar-toggler {
      top: .25rem;
      right: 1rem;
    }

    .navbar .form-control {
      padding: .75rem 1rem;
    }

    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .hidden {
      display: none;
    }
  </style>

</head>

<body>

  <header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">虚拟执行威胁判别器</a>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">注销</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <script src="{%static 'js\analyze_sidebar.js' %}"></script>
      
      <form>
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>基本配置</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a id="nav-staticinfo-page" class="nav-link active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                静态信息
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-os-page" class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                操作系统
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-runtime-page" class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                运行时要求
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-userenv-page" class="nav-link" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                用户和环境变量
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-hardware-page" class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                硬件配置
              </a>
            </li>
          </ul>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>详细配置</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a id="nav-os-detail-page" class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                操作系统详细配置
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-qiling-page" class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                qiling选项
              </a>
            </li>
            <li class="nav-item">
              <a id="nav-enhance-page" class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                增强选项
              </a>
            </li>
          </ul>
          <h4
            class="sidebar-heading d-flex justify-content-between align-items-right px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>

              <button type="submit" class="btn btn-primary btn-lg align-items-right">执行分析</button>
            </span>

          </h4>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div id="staticinfo-page" class="page">

            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">静态文件信息</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">导出静态信息</button>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped table-sm" style="text-align: left;">
                <tbody>
                  <tr>
                    <th>文件名</td>
                    <td>{{ general_info.filename }}</td>
                  </tr>
                  <tr>
                    <th>判定结果:</th>
                    <td>{{ general_info.verdict }}</td>
                  </tr>
                  <tr>
                    <th>威胁情况:</th>
                    <td>{{ general_info.threats }}</td>
                  </tr>
                  <tr>
                    <th>分析时间:</th>
                    <td>{{ general_info.analysis_Time }}</td>
                  </tr>
                  <tr>
                    <th>目标操作系统:</th>
                    <td>{{ general_info.tagret_os }}</td>
                  </tr>
                  <tr>
                    <th>标签:</th>
                    <td>
                      <ul>
                        {%for tag in general_info.tags%}
                        <li>{{ tag }}</li>
                        {%endfor%}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>MIME类型:</th>
                    <td>{{ general_info.MIME }}</td>
                  </tr>
                  <tr>
                    <th>大小:</th>
                    <td>{{ general_info.size }}</td>
                  </tr>
                  <tr>
                    <th>上传时间:</th>
                    <td>{{ general_info.time }}</td>
                  </tr>
                  <tr>
                    <th>CRC32:</th>
                    <td>{{ general_info.hash.CRC32 }}</td>
                  </tr>
                  <tr>
                    <th>CRC64:</th>
                    <td>{{ general_info.hash.CRC64 }}</td>
                  </tr>
                  <tr>
                    <th>SHA256:</th>
                    <td>{{ general_info.hash.SHA256 }}</td>
                  </tr>
                  <tr>
                    <th>SHA1:</th>
                    <td>{{ general_info.hash.SHA1 }}</td>
                  </tr>
                  <tr>
                    <th>BLAKE2sp:</th>
                    <td>{{ general_info.hash.BLAKE2sp }}</td>
                  </tr>
                  <tr>
                    <th>XXH64:</th>
                    <td>{{ general_info.hash.XXH64 }}</td>

                  </tr>
                </tbody>
              </table>
            </div>

        </div>
            <!-- 操作系统页面内容 -->
            <div id="os-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">配置操作系统</h1>
              </div>
              <p class="lead">在此处指定目标所要运行的操作系统及其细分版本</p>
              <fieldset class="mb-3">
                <legend>目标操作系统</legend>
                {%for item in supported_rootfs %}
                <div class="form-check">
                  <input type="radio" name="rootfsRadio{{item.index}}" class="form-check-input" id="rootfsRadio{{item.index}}">
                  <label class="form-check-label" for="rootfsRadio{{item.index}}">{{item.name}}</label>
                </div>
                {%endfor%}
                <legend>操作系统属性</legend>
                  <!-- [SYSTEM]项 -->
                  <div class="mb-3">
                    <label for="majorVersionInput" class="form-label">Windows操作系统的主要版本号</label>
                    <input type="number" class="form-control" id="majorVersionInput" >
                    <div id="majorVersionHelp" class="form-text">majorVersion</div>
                  </div>
                  <div class="mb-3">
                    <label for="minorVersionInput" class="form-label">Windows操作系统的次要版本号</label>
                    <input type="number" class="form-control" id="minorVersionInput" >
                    <div id="minorVersionHelp" class="form-text">minorVersion</div>
                  </div>
                  <div class="mb-3">
                    <label for="productTypeInput" class="form-label">操作系统的类型</label>
                    <input type="number" class="form-control" id="productTypeInput" >
                    <div id="productTypeHelp" class="form-text">productType</div>
                  </div>
                  <!-- 遍历support_lang_id
                  这里可能要简化，因为全变量表很长，会导致加载变慢 -->
                  <div class="mb-3">
                    <label for="languageSelect" class="form-label">系统所使用的语言的标识码</label>
                    <select class="form-select" id="languageSelect">
                      <option selected="0x0804">0x0804 - Chinese (Simplified), People's Republic of China(zh-CN), Release A</option>
                      {%for item in supported_lang_id %}
                      <option value={{item.value}}>{{item.desc}}</option>
                      {%endfor%}
                    </select>
                    <div id="languageHelp" class="form-text">language</div>
                  </div>
                  <div class="mb-3">
                    <label for="VER_SERVICEPACKMAJORInput" class="form-label">系统安装的主要服务包的版本号</label>
                    <input type="number" class="form-control" id="VER_SERVICEPACKMAJORInput" >
                    <div id="VER_SERVICEPACKMAJORHelp" class="form-text">VER_SERVICEPACKMAJOR</div>
                  </div>

              </fieldset>
            </div>

              <!-- 运行时要求页面内容 -->
            <div id="runtime-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">运行时要求</h1>
              </div>
              <p class="lead">配置要模拟的运行时变量</p>
              <legend>代码位置</legend>
              <fieldset>
                
                <div class="mb-3">
                  <label for="ram_sizeInput" class="form-label">内存大小</label>
                  <input type="text" class="form-control" id="ram_sizeInput" >
                  <div id="ram_sizeHelp" class="form-text">ram_size</div>
                </div>
                <div class="mb-3">
                  <label for="entry_pointInput" class="form-label">入口点</label>
                  <input type="text" class="form-control" id="entry_pointInput" >
                  <div id="entry_pointHelp" class="form-text">entry_point</div>
                </div>
              </fieldset>
            </div>

              <!-- 用户和环境变量页面内容 -->
              <!-- username = Qiling
              computername = qilingpc
              current_path = C:\ -->
            <div id="userenv-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">用户和环境变量</h1>
              </div>
              <p class="lead">配置要模拟的用户和有关的环境变量及其值</p>
              <fieldset>
                <legend>用户和计算机名</legend>
                <div class="mb-3">
                  <label for="usernameInput" class="form-label">用户名</label>
                  <input type="text" class="form-control" id="usernameInput" >
                  <div id="usernameHelp" class="form-text">username</div>
                </div>
                <div class="mb-3">
                  <label for="computernameInput" class="form-label">计算机名</label>
                  <input type="text" class="form-control" id="computernameInput" >
                  <div id="computernameHelp" class="form-text">computername</div>
                </div>
                <legend>程序的启动路径</legend>
                <div class="mb-3">
                  <label for="current_pathInput" class="form-label">当前路径</label>
                  <input type="text" class="form-control" id="current_pathInput" >
                  <div id="current_pathHelp" class="form-text">current_path</div>
                </div>

              </fieldset>
            </div>

              <!-- 硬件配置页面内容 -->
            <div id="hardware-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">硬件配置</h1>
              </div>
              <p class="lead">在此处指定要模拟的计算机硬件列表</p>
              <fieldset>
                
                <!-- 
                systemdrive = C:\
                windir = Windows
                number_processors = 5
                dns_response_ip = 10.20.30.40

                name = Volume1
                serial_number = 3224010732
                type = NTFS
                sectors_per_cluster = 10
                bytes_per_sector = 512
                number_of_free_clusters = 12345
                number_of_clusters = 65536 -->
                <legend>处理器</legend>
                <div class="mb-3">
                  <label for="number_processorsInput" class="form-label">处理器核心数</label>
                  <input type="number" class="form-control" id="number_processorsInput" >
                  <div id="number_processorsHelp" class="form-text">number_processors</div>
                </div>
                <legend>系统驱动器</legend>
                <div class="mb-3">
                  <label for="systemdriveInput" class="form-label">系统驱动器</label>
                  <input type="text" class="form-control" id="systemdriveInput" >
                  <div id="systemdriveHelp" class="form-text">systemdrive</div>
                </div>
                <div class="mb-3">
                  <label for="windirInput" class="form-label">Windows目录</label>
                  <input type="text" class="form-control" id="windirInput" >
                  <div id="windirHelp" class="form-text">windir</div>
                </div>
                <legend>网络</legend>
                <div class="mb-3">
                  <label for="dns_response_ipInput" class="form-label">DNS响应IP</label>
                  <input type="text" class="form-control" id="dns_response_ipInput" >
                  <div id="dns_response_ipHelp" class="form-text">dns_response_ip</div>
                </div>
                <legend>磁盘</legend>
                <div class="mb-3">
                  <label for="nameInput" class="form-label">卷名</label>
                  <input type="text" class="form-control" id="nameInput" >
                  <div id="nameHelp" class="form-text">name</div>
                </div>
                <div class="mb-3">
                  <label for="serial_numberInput" class="form-label
                  ">序列号</label>
                  <input type="number" class="form-control" id="serial_numberInput" >
                  <div id="serial_numberHelp" class="form-text">serial_number</div>
                </div>
                <div class="mb-3">
                  <label for="typeInput" class="form-label">类型</label>
                  <input type="text" class="form-control" id="typeInput" >
                  <div id="typeHelp" class="form-text">type</div>
                </div>
                <div class="mb-3">
                  <label for="sectors_per_clusterInput" class="form-label">每簇扇区数</label>
                  <input type="number" class="form-control" id="sectors_per_clusterInput" >
                  <div id="sectors_per_clusterHelp" class="form-text">sectors_per_cluster</div>
                </div>
                <div class="mb-3">
                  <label for="bytes_per_sectorInput" class="form-label">每扇区字节数</label>
                  <input type="number" class="form-control" id="bytes_per_sectorInput" >
                  <div id="bytes_per_sectorHelp" class="form-text">bytes_per_sector</div>
                </div>
                <div class="mb-3">
                  <label for="number_of_free_clustersInput" class="form-label">空闲簇数</label>
                  <input type="number" class="form-control" id="number_of_free_clustersInput" >
                  <div id="number_of_free_clustersHelp" class="form-text">number_of_free_clusters</div>
                </div>
                <div class="mb-3">
                  <label for="number_of_clustersInput" class="form-label">簇数</label>
                  <input type="number" class="form-control" id="number_of_clustersInput" >
                  <div id="number_of_clustersHelp" class="form-text">number_of_clusters</div>
                </div>

              </fieldset>
            </div>

              <!-- 操作系统详细配置页面内容 -->
            <div id="os-detail-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">操作系统详细配置</h1>
              </div>
              <p class="lead">在此处指定详细的操作系统参数</p>
              <fieldset>
                <legend>32位系统地址详情</legend>
                <div class="mb-3">
                  <label for="heap_addressInput" class="form-label">堆的起始地址</label>
                  <input type="" class="form-control" id="heap_addressInput" >
                  <div id="heap_addressHelp" class="form-text">heap_address</div>
                </div>
                <div class="mb-3">
                  <label for="heap_sizeInput" class="form-label">堆的大小</label>
                  <input type="text" class="form-control" id="heap_sizeInput" >
                  <div id="heap_sizeHelp" class="form-text">heap_size</div>
                </div>
                <div class="mb-3">
                  <label for="stack_addressInput" class="form-label">栈的起始地址</label>
                  <input type="text" class="form-control" id="stack_addressInput" >
                  <div id="stack_addressHelp" class="form-text">stack_address</div>
                </div>
                <div class="mb-3">
                  <label for="stack_sizeInput" class="form-label">栈的大小</label>
                  <input type="text" class="form-control" id="stack_sizeInput" >
                  <div id="stack_sizeHelp" class="form-text">stack_size</div>
                </div>
                <div class="mb-3">
                  <label for="image_addressInput" class="form-label">镜像的起始地址</label>
                  <input type="text" class="form-control" id="image_addressInput" >
                  <div id="image_addressHelp" class="form-text">image_address</div>
                </div>
                <div class="mb-3">
                  <label for="dll_addressInput" class="form-label">dll的起始地址</label>
                  <input type="text" class="form-control" id="dll_addressInput" >
                  <div id="dll_addressHelp" class="form-text">dll_address</div>
                </div>
                <div class="mb-3">
                  <label for="entry_pointInput" class="form-label">入口点地址</label>
                  <input type="text" class="form-control" id="entry_pointInput" >
                  <div id="entry_pointHelp" class="form-text">entry_point</div>
                <div class="mb-3">
                  <label for="KI_USER_SHARED_DATAInput" class="form-label">KI_USER_SHARED_DATA地址</label>
                  <input type="text" class="form-control" id="KI_USER_SHARED_DATAInput" >
                  <div id="KI_USER_SHARED_DATAHelp" class="form-text">KI_USER_SHARED_DATA</div>
                </div>
                <legend>64位系统地址详情</legend>
                <div class="mb-3">
                  <label for="heap_address64Input" class="form-label">堆的起始地址</label>
                  <input type="text" class="form-control" id="heap_address64Input" >
                  <div id="heap_address64Help" class="form-text">heap_address</div>
                </div>
                <div class="mb-3">
                  <label for="heap_size64Input" class="form-label">堆的大小</label>
                  <input type="text" class="form-control" id="heap_size64Input" >
                  <div id="heap_size64Help" class="form-text">heap_size</div>
                </div>
                <div class="mb-3">
                  <label for="stack_address64Input" class="form-label">栈的起始地址</label>
                  <input type="text" class="form-control" id="stack_address64Input" >
                  <div id="stack_address64Help" class="form-text">stack_address</div>
                </div>
                <div class="mb-3">
                  <label for="stack_size64Input" class="form-label">栈的大小</label>
                  <input type="text" class="form-control" id="stack_size64Input" >
                  <div id="stack_size64Help" class="form-text">stack_size</div>
                </div>
                <div class="mb-3">
                  <label for="image_address64Input" class="form-label">镜像的起始地址</label>
                  <input type="text" class="form-control" id="image_address64Input" >
                  <div id="image_address64Help" class="form-text">image_address</div>
                </div>
                <div class="mb-3">
                  <label for="dll_address64Input" class="form-label">dll的起始地址</label>
                  <input type="text" class="form-control" id="dll_address64Input" >
                  <div id="dll_address64Help" class="form-text">dll_address</div>
                </div>
                <div class="mb-3">
                  <label for="entry_point64Input" class="form-label">入口点地址</label>
                  <input type="text" class="form-control" id="entry_point64Input" >
                  <div id="entry_point64Help" class="form-text">entry_point</div>
                <div class="mb-3">
                  <label for="KI_USER_SHARED_DATA64Input" class="form-label">KI_USER_SHARED_DATA地址</label>
                  <input type="text" class="form-control" id="KI_USER_SHARED_DATA64Input" >
                  <div id="KI_USER_SHARED_DATA64Help" class="form-text">KI_USER_SHARED_DATA</div>
                </div>
              </fieldset>
            </div>

              <!-- qiling选项页面内容 -->
            <div id="qiling-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">qiling选项</h1>
              </div>
              <p class="lead">在此处指定虚拟执行参数</p>
              <legend>启动配置</legend>
              <fieldset>
                
              <!-- argv
              env

              multithread
              stop -->
                <div class="mb-3">
                  <label for="argvInput" class="form-label">命令行参数</label>
                  <input type="text" class="form-control" id="argvInput" >
                  <div id="argvHelp" class="form-text">argv</div>
                </div>
                <div class="mb-3">
                  <label for="envInput" class="form-label">环境变量</label>
                  <input type="text" class="form-control" id="envInput" >
                  <div id="envHelp" class="form-text">env</div>
                </div>

                <div class="mb-3 form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="multithreadCheck" checked="">
                  <label class="form-check-label" for="multithreadCheck">多线程</label>
                </div>
                <legend>指示退出方式</legend>
                <select class="form-select" id="stopSelect">
                  <option selected="0">0 - None</option>
                  <option value="1">1 - STACK_POINTER</option>
                  <option value="2">2 - EXIT_TRAP</option>
                </select>
              </fieldset>
            </div>

              <!-- 增强选项页面内容 -->
            <div id="enhance-page" class="page hidden">
              <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">增强选项</h1>
              </div>
              <p class="lead">在此处指定运行所需要的增强选项</p>
            </div>

          </div>
        </form>
      </main>
    </div>
  </div>
</body>

</html>