{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{hash}} 的分析报告</title>
    
    <link rel="stylesheet" href="{%static 'plugins/bootstrap-5.3.3-dist/css/bootstrap.css'%}">
    
</head>

<body>

    <div class="container">
        <div class="content">
            <h1 style="text-align: center;">{{real_file_name}} 的分析报告</h1>
            <h2>基本信息</h2>
            <hr>
            <table style="text-align: left;">
                <tbody>
                    <tr>
                        <th>文件名</td>
                        <td>{{ info.general_info.filename }}</td>
                    </tr>
                    <tr>
                        <th>判定结果:</th>
                        <td>{{ info.general_info.verdict }}</td>
                    </tr>
                    <tr>
                        <th>威胁情况:</th>
                        <td>{{ info.general_info.threats }}</td>
                    </tr>
                    <tr>
                        <th>分析时间:</th>
                        <td>{{ info.general_info.analysis_Time }}</td>
                    </tr>
                    <tr>
                        <th>目标操作系统:</th>
                        <td>{{ info.general_info.tagret_os }}</td>
                    </tr>
                    <tr>
                        <th>标签:</th>
                        <td>
                            <ul>
                                {%for tag in info.general_info.tags%}
                                    <li>{{ tag }}</li>
                                {%endfor%}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>MIME类型:</th>
                        <td>{{ info.general_info.MIME }}</td>
                    </tr>
                    <tr>
                        <th>大小:</th>
                        <td>{{ info.general_info.size }}</td>
                    </tr>
                    <tr>
                        <th>上传时间:</th>
                        <td>{{ info.general_info.time }}</td>
                    </tr>
                     <tr>
                        <th>哈希值:</th>
                        <td>
                            <ul>
                                <table>
                                    <tr>
                                        <th>CRC32:</th>
                                        <td>{{ info.general_info.hash.CRC32 }}</td>
                                    </tr>
                                    <tr>
                                        <th>CRC64:</th>
                                        <td>{{ info.general_info.hash.CRC64 }}</td>
                                    </tr>
                                    <tr>
                                        <th>SHA256:</th>
                                        <td>{{ info.general_info.hash.SHA256 }}</td>
                                    </tr>
                                    <tr>
                                        <th>SHA1:</th>
                                        <td>{{ info.general_info.hash.SHA1 }}</td>
                                    </tr>
                                    <tr>
                                        <th>BLAKE2sp:</th>
                                        <td>{{ info.general_info.hash.BLAKE2sp }}</td>
                                    </tr>
                                    <tr>
                                        <th>XXH64:</th>
                                        <td>{{ info.general_info.hash.XXH64 }}</td>
                                    </tr>
                                </table>
                            </ul>
                        </td>
                     </tr>
                </tbody>
            </table>
            {%if info.qiling_info != None%}
            <h2>麒麟虚拟执行模块信息</h2>
            <hr>
            <table style="text-align: left;">
                <tbody>
                    <tr>
                        <th>架构</td>
                        <td>{{ info.qiling_info.rootfs }}</td>
                    </tr>
                    <tr>
                        <th>执行参数:</th>
                        <td>{{ info.general_info.verdict }}</td>
                    </tr>
                    <tr>
                        <th>日志:</th>
                        <td>{{ info.qiling_info.log_file }}</td>
                    </tr>
                    <tr>
                        <th>日志报告详细程度:</th>
                        <td>{{ info.qiling_info.verbose }}</td> 
                    </tr>
                    <tr>
                        <th>运行总耗时:</th>
                        <td>{{ info.qiling_info.runtime }}s</td> 
                    </tr>
                    <tr>
                        <th>结果:</th>
                        <td>{{ info.qiling_info.result }}</td>
                    </tr>
                    <tr>
                        <th>错误:</th>
                        <td>
                            
                            <ul>
                                {% for error in info.qiling_info.qiling_errors %}
                                <li>{{ error.error_type }}</li>
                                    <pre >{{ error.error_log }}</pre>
                                {% endfor %}
                            </ul>
                        </td>
                </tbody>
            </table>
            {%endif%}
            {%if info.behavor_activities != None%}
            <h2>行为跟踪</h2>
            <hr>
            <p><strong>恶意行为</strong></p>
            <ul>
                {% for malicious in info.behavior_activities.malicious %}
                <li>{{ malicious.description }} ({{ malicious.process_name }} - {{ malicious.process_id }})</li>
                {% endfor %}
            </ul>
            <p><strong>可疑行为</strong></p>
            <ul>
                {% for suspicious in info.behavior_activities.suspicous %}
                <li>{{ suspicious.description }} ({{ suspicious.process_name }} - {{ suspicious.process_id }})</li>
                {% endfor %}
            </ul>
            <p><strong>正常行为</strong></p>
            <ul>
                {% for normal in info.behavior_activities.info %}
                <li>{{ normal.description }} ({{ normal.process_name }} - {{ normal.process_id }})</li>
                {% endfor %}
            </ul>
            {%endif%}

            {%if info.malware_configuration != None%}
            <h2>恶意代码配置信息</h2>
            <hr>
            <p>{{ info.malware_configuration }}</p>
            {%endif%}

            {%if info.static_info != None%}
            <h2>静态信息</h2>
            <hr>
            <p><strong>TRiD:</strong></p>
            <ul>
                {% for item in info.static_info.TRiD %}
                <li>{{ item.extension }} - {{ item.description }} ({{ item.possibility }})</li>
                {% endfor %}
            </ul>
            <p><strong>EXIF:</strong></p>
            <ul>
                {% for item in info.static_info.EXIF %}
                <li>{{ item.main_type }} - {{ item.entry_point }} ({{ item.linker }})</li>
                {% endfor %}
            </ul>
            {%endif%}

            {%if info.report != None%}
            <h2>详细报告</h2>
            <hr>
            <p><strong>恶意代码</strong> 检出: {{ info.report.malware_detect.detected }}</p>
            <p><strong>API调用:</strong></p>
            <ul>
                {% for api in info.report.api_calls %}
                <li>{{ api }}</li>
                {% endfor %}
            </ul>
            <p><strong>关键恶意API调用:</strong></p>
            <ul>
                {% for api in info.report.key_suspicious_api_called %}
                <li>{{ api.api }}</li>
                    <ul>
                        {% for arg in api.args %}
                            <li>{{ arg }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
            <p><strong>输入输出字符串:</strong> 
                <ul>
                    {% for string in info.report.IO_strings %}
                    <li>
                        {{ string }}
                    </li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>文件内含字符串:</strong> 
                <ul>
                    {% for string in info.report.strings %}
                    <li>
                        {{ string }}
                    </li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>Yara规则:</strong>
                <ul>
                    <li>提供商: {{ info.report.yara.provider }}</li>
                    <li>命中次数: {{ info.report.yara.hits }}</li>
                    <li>结论: {{ info.report.yara.result }}</li>
                    <li>错误: {{ info.report.yara.error }}</li>
                </ul>
            </p>

            <p><strong>日志:</strong> {{ info.report.logs }}</p>
            {%endif%}
        </div>
    </div>
    <footer>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <p style="text-align: center;">
            <a href="www.antiy.cn">安天</a>
            |
            <a href="www.hrbeu.edu.cn">HEU</a>
        </p>
    </footer>
</body>
<style>
    .container {
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
        /* 边界线 */
        border-radius: 5px;
    }

    .content {
        max-width: 1170px;
        /* 内容固定为 1170px */
        width: 90%;
        font-family: "Times New Roman", "Times", "仿宋", "FangSong", Consolas, monospace;

    }
    
</style>

</html>